<section>
        <h1 class="text-bg-danger p-3">{{admin.username}}</h1>
</section>
<section class="row">
    <h2>Dashboard </h2>
    <p class="lead">Here's your space to make changes to items, check orders and do all things backend.</p>
</section>

<section class="row">
    <div class="col-md-4 order-md-1">
        <h4>Items</h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {{#each admin.categories}}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{@index}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{@index}}" aria-expanded="false" aria-controls="#flush-collapse-{{@index}}">
                 {{this.name}}
                    </button>
                </h2>
                <div id="flush-collapse-{{@index}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    {{#each this.items}}
                    <div class="accordion-body row">
                        <div class="col-4">{{this.name}}</div>
                        <div class="col-3">${{this.price}}</div>
                        <div class="col-5">
                            <button class="btn btn-dark btn-sm update-button" data-id={{this.id}} type="button">{{this.status}}</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
         
            </div>
        {{/each}}
        </div>

    </div>

    <div class="col-md-8 order-md-4">
        <h4>Orders</h4>
        {{#each admin.customerOrders}}
        <div class="row">
            <div class="col-1">#{{this.id}}</div>
            <div class="col-2">{{this.reference_name}}</div>
            <div class="col-1">{{this.location}}</div>
            <div class="col-3">
                {{#each this.items}}
                <div>{{orderItem.qty}} {{this.name}}</div>
                {{/each}}
            </div>
            <div class="col-2">${{this.total_amount}}</div>
            <div class="col-3">
                <button class="btn btn-dark btn-sm m-1 update-order-button" data-id={{this.id}} type="button">{{this.status}}</button>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<script src="/js/dashboard.js"></script>
