<div>
    <div class="row text-bg-danger p-3 align-items-center justify-content-between">
        <h1 class="text-bg-danger p-3 col-8">{{admin.username}}</h1>
        <div class="col-4">
            <div class="row text-light text-end" id="userDetails">
                <div id="refAnchor"></div>
                <div class="d-flex align-items-center justify-content-end">
                    
                    <div class="ms-3 text-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                        </svg>
                    </div>
                    <div class="me-2" id="locationAnchor"></div>
                    <button type="button" class="btn btn-sm btn-dark text-light" id="userEditBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                        </svg>
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="card mt-3" id="welcomeSec">
  <div class="card-body">
    <h5 class="card-title text-center">Welcome to our online orders</h5>

    <p class="card-text">We're keeping it simple so here's how it works:</p>
    <ul>
        <li>Find your location from the nearest {{admin.username}} ordering sign</li>
        <li>Submit your order</li>
        <li>Wait at your location</li>
        <li>Pay upon delivery using "tap and go" or correct cash. No change available.</li>
    </ul>
    <p class="card-text"><small class="text-body-secondary">Need something different?</small></p>
    <p class="card-text"><small class="text-body-secondary">Want to choose specific products from our full range?</small></p>
    <p class="card-text"><small class="text-body-secondary">Walk to the nearest outlet and ask our friendly staff!</small></p>
      <button class="btn btn-danger" id="agreementBtn">Yes, I'll wait and pay. Continue to online ordering. </button>
  </div>
</div>

<div class="card mt-3" id="userDetailsInput">
    <div class="card-body">
        <h5 class="card-title">Your details</h5>
        <div id="referenceInput">
            {{!-- <form class="mb-3 row" id="refNameForm"> --}}
            <label for="refName" class="col-form-label">First name:</label>
            {{!-- <input type="text" name="refName" onchange="storeRef(this.value)"> --}}
            <input type="text" class="form-control" name="refName" onchange="storeRef(this.value)">
            {{!-- </form> --}}
        </div>
        <div >Choose location:</div>
            <div class="form-group" id="locationInput">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="locationRadios" id="locationRadios1" value="A" onchange="storeLocation(this.value)">
                    <label class="form-check-label" for="locationRadios1">
                        A
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="locationRadios" id="locationRadios2" value="B" onchange="storeLocation(this.value)">
                    <label class="form-check-label" for="locationRadios2">
                        B
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="locationRadios" id="locationRadios3" value="C" onchange="storeLocation(this.value)">
                    <label class="form-check-label" for="locationRadios3">
                        C
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="locationRadios" id="locationRadios4" value="D" onchange="storeLocation(this.value)">
                    <label class="form-check-label" for="locationRadios4">
                        D
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="locationRadios" id="locationRadios5" value="E" onchange="storeLocation(this.value)">
                    <label class="form-check-label" for="locationRadios5">
                        E
                    </label>
                </div>
            </div>
    </div>
</div>

<div class="card mt-3" id="order">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="card-title">Your Order</h5>
            <div class="hiddenItem2 text-end col-2 pb-2"><span id="count" class="text-bg-danger badge"></span></div>
        </div>
        <div class="fst-italic visibleItem" style="display: block">No items added</div>
        <div class="row" id="orderEl-id">
        </div>
    </div>
    <div class="card-footer text-bg-light">
        <div class="d-flex justify-content-between">
            <h6 class="hiddenItem1">Total cost: <span id="sum"></span></h6>
            <button class="btn btn-danger" type="submit" id="submitBtn">Submit order</button>
        </div>
    </div>
</div>
<div class="card mt-3" id="menu">
    <div class="card-body">
        <h5 class="card-title">Menu</h5>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {{#each admin.categories}}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{@index}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{@index}}" aria-expanded="false" aria-controls="flush-collapse-{{@index}}">
                 {{this.name}}
                    </button>
                </h2>
                <div id="flush-collapse-{{@index}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    {{#each this.items}}
                    <div class="accordion-body row">
                        <div class="col-6 text-start">{{this.name}}</div>
                        <div class="col-4 text-center">${{this.price}}</div>
                        <div class="col-2 text-end">
                            <button type="button" class="btn add-button btn-dark btn-sm active" aria-pressed="true" data-id="{{this.id}}" data-name="{{this.name}}" data-price="{{this.price}}" data-status="{{this.status}}">
                               <i class="bi bi-plus-circle-fill"></i>
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>

<script src="/js/customerOrder.js"></script>